.title.ytd-guide-entry-renderer,#video-title.ytd-rich-grid-video-renderer,pre,textarea,body,input,td,tr,p,form,span, section, code {{
	background-color: {background} !important;
	color: {foreground} !important;
}}

input  {{
	background-image: none !important;
}}

div, div::after {{
	background-image: none !important;
	background-color:{background} !important;
	color: {foreground} !important;
}}

div {{	
	background-color:{background} !important;
	color: {foreground} !important;
}}

/* div * {{ */	
/* 	background-color:{background} !important; */
/* 	color: {foreground} !important; */
/* }} */

/* * {{ */	
/* 	background-color:{background} !important; */
/* 	color: {foreground} !important; */
/* }} */

h1,h2,h3,h4 {{
	background-color: {background} !important;
	color: {foreground} !important;
}}

/* html, img {{ -webkit-filter: invert(95%) hue-rotate(180deg); }} */


a {{
	background-color: {background} !important;
	color: {color2} !important;
}}

.link-gray-dark {{
	background-color: {background} !important;
	color: {color2} !important;
}}

div a {{
	background-color: {background} !important;
	color: {color2} !important;
}}
