pre,textarea,body,input,td,tr,p,form,span, section {{
	background-color: {background} !important;
	color: {foreground} !important;
}}

input  {{
	background-image: none !important;
}}

div, div::before, div::after {{
	background-image: none !important;
	background-color:{background} !important;
	color: {foreground} !important;
}}

div {{	
	background-color:{background} !important;
	color: {foreground} !important;
}}

h1,h2,h3,h4 {{
	background-color: {background} !important;
	color: {foreground} !important;
}}

a {{
	background-color: {background} !important;
	color: {color2} !important;
}}
