pre,textarea,body,input,td,tr,p {
	background-color: {background} !important;
	background-image: none !important;
	color: {foreground} !important;
}

div {
	background-color:{background} !important;
	background-image: none !important;
	color: {foreground} !important;
}

h1,h2,h3,h4 {
	background-color: {background} !important;
	color: {foreground} !important;
}

a {
	color: {color4} !important;
}
